<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="lt-ie9 ie6 ie lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 ie7 ie lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9 ie8 ie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>